<form action="/dashboard/addwaterfall" method="POST">

  <div class="field is-horizontal">
    <div class="field-body">

      <div class="field">
        <label class="label">Waterfall</label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="Enter waterfall name" value="{{values.name}}">
        </div>
      </div>

      <div class="field">
        <label class="label">X Coordinate</label>
        <div class="control">
          <input class="input" type="number" name="x" placeholder="X" value="{{values.x}}">
        </div>
      </div>

      <div class="field">
        <label class="label">Y Coordinate</label>
        <div class="control">
          <input class="input" type="number" name="y" placeholder="Y" value="{{values.y}}">
        </div>
      </div>

    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input class="input" type="text" name="description" placeholder="Enter the description" value="{{values.description}}">
    </div>
  </div>

  <button class="button is-link">Add Waterfall</button>
</form>
