<form action="/dashboard/addwaterfall" method="POST">
  <div class="field">
    <label class="label">Waterfall</label> <input class="input" type="text" placeholder="Enter waterfall name"
      name="name">
  </div>
  <div class="field">
    <label class="label">Description</label> <input class="input" type="text" placeholder="Enter the description"
      name="description">
  </div>
  <div class="field">
    <label class="label">X Coordinate</label> <input class="input" type="number" placeholder="Enter X coordinate"
      name="x">
  </div>
  <div class="field">
    <label class="label">Y Coordinate</label> <input class="input" type="number" placeholder="Enter Y coordinate"
      name="y">
  </div>
  <button class="button is-link">Add Waterfall</button>
</form>