{{> welcome-menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Welcome to the Waterfalls App
    </p>
    <br>
    <p class="subtitle">
      List your waterfalls and all their details, list points of interest that can be helpful to you or anybody else on
      their next adventure
    </p>
    <br>
    <p class="box">
      <i class="fas fa-car fa-4x" ></i>
      <i class="fas fa-plus fa-2x" style="color:deepskyblue"></i>
      <i class="fas fa-route fa-4x" style="color:red"></i>
      <i class="fas fa-plus fa-2x" style="color:deepskyblue"></i>
      <i class="fas fa-tree fa-4x" style="color:green"></i>
      <i class="fas fa-plus fa-2x" style="color:deepskyblue"></i>
      <i class="fas fa-hiking fa-4x"></i>
      <i class="fas fa-plus fa-2x" style="color:deepskyblue"></i>
      <i class="fas fa-route fa-4x" style="color:brown"></i>
      <i class="fas fa-plus fa-2x" style="color:deepskyblue"></i>
      <i class="fas fa-water fa-4x" style="color:blue"></i>
      <i class="fas fa-plus fa-2x" style="color:deepskyblue"></i>
      <i class="fas fa-campground fa-4x" style="color:green"></i>
      <i class="fas fa-plus fa-2x" style="color:deepskyblue"></i>
      <i class="fas fa-hamburger fa-4x" style="color:orange"></i>
      <i class="fas fa-plus fa-2x" style="color:deepskyblue"></i>
      <i class="fas fa-hospital fa-4x" style="color:red"></i>
    </p>
  </div>
</section>