{{> welcome-menu}}

<section class="section">
  <div class="columns is-vcentered ">
    <div class="column has-text-centered">
      <h1 class="title">Welcome to Waterfalls 1.0</h1>
      <h2 class="subtitle">Your place to save all your favourites waterfalls</h2>
      <br>
      <h> Sign up or Log in... </h>
    </div>
    <div class="column">
      <img src="/images/jplenio-waterfall-7962263_640.jpg" alt="Waterfall image">
    </div>
  </div>
</section>