<form action="/dashboard/addwaterfall" method="POST">

  <div class="field is-horizontal">
    <div class="field-body">

      <div class="field">
        <label class="label">Waterfall</label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="Enter waterfall name" value="{{values.name}}">
        </div>
      </div>

      <div class="field">
        <label class="label">Latitude</label>
        <div class="control">
          <input class="input" type="number" name="latitude" placeholder="Enter Latitude" value="{{values.latitude}}" min="-90" max="90" step="any">
        </div>
      </div>

      <div class="field">
        <label class="label">Longitude</label>
        <div class="control">
          <input class="input" type="number" name="longitude" placeholder="Enter Longitude" value="{{values.longitude}}" min="-180" max="180" step="any">
        </div>
      </div>

    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input class="input" type="text" name="description" placeholder="Enter the description" value="{{values.description}}">
    </div>
  </div>

  <button class="button is-link">Add Waterfall</button>
</form>
